<div class="container">
    <div class="item">
        <h1>{{title}}</h1>
        <h2>{{showSearchTerm}}</h2>
        <section>
            {{#if someData}}
            <ul>
                {{#each someData}}
                    <li>
                        <a href="/show/{{this.show.id}}">{{this.show.name}}</a>
                    </li>
                {{/each}}
            </ul>
            {{else}}
                <p class="show-not-found">We're sorry, but no results were found for {{showSearchTerm}}.</p>
            {{/if}}
            <a href="/">Make another search</a>
        </section>
    </div>    
</div>
        
    